<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.2.89:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <customFields>{"index":"asynclogs"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>